@import url("https://use.typekit.net/jfw4zpk.css");

body {
  max-width: 500px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  font-family: 'Filson Pro', sans-serif;
  font-weight: 300;
}

p {
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 22px;
}

a {
  color: #208C26;
}

.logo {
  max-width: 300px;
}

.subtitle {
  font-weight: 400;
}
